<header>
    <nav>
        <div class="Logo">
            <h1 class="titlelogo">Enrique</h1>
        </div>
        <div class="content_link">
            <a href="/index" class="linkheader">Home</a>
            <a href="/blog" class="linkheader">Blog</a>
            <a href="g" class="linkheader">Cuento</a>
        </div>
    </nav>
</header>
<style>
    header{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    nav{
        width: 98%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 0px;
        align-items: center;
    }
    .logo{

    }
    .titlelogo{
        padding: 0;
        margin: 0;
    }
    .linkheader{
        text-decoration: none;
        color: #000;
    }
    .content_link{
        display: flex;
        gap: 15px;
    }
    .disabled{
        color: #6d6d6d27;
    }
</style>