    <section class="content_post">
        <section class="content_imagepost">
                <img src="/homeperfil.jpg" alt="" loading="lazy" class="imagepost">
        </section>
        <section class="content_resumen">
            <h1 class="titulo_resumen">Aqui ira el titulo</h1>
            <p class="resumen">Aqui ira una breve descripcion de
            todo lo que me pasa durante el dia
            o lo que me paso exactamente a 
            traves de la foto.</p>
            <p class="fecha">03 de julio del 2023</p>
        </section>
    </section>

<style>
    .content_post{
        width: 40%;
        display: flex;
        border: 1px solid #ccc;
        border-radius: 5px;
        align-items: center;
    }
    .content_imagepost{
        width: 40%;
        line-height: 0;
    }
    .imagepost{
        width: 100%;
    }
    .content_resumen{
        width: 60%;
    }
    .titulo_resumen{
        margin: 0;
        text-align: center
    }
    .resumen{
        margin: 0;
        font-size: 15px;
    }
    .fecha{
        margin: 0;
        color: #585858;
        text-align: center
    }
</style>